:root {
    /* VARIÁVEIS TAMANHO DOS BOTÕES */
    --numberButton-size: 54px;
    --numberInput-FontSize: 20px;

    /* VARIÁVEIS CORES */
    --main-bg-color: rgb(233, 233, 233);
    --second-bg-color: #bbc5c0;
    --second-color: #2ecc71;
    --third-color: #27ae60;
    /* --second-color: #589ee0;
    --third-color: #2a547c; */
    --font-color-main: #3b3b3b;

    /* VARIÁVEIS TIPOGRÁFICAS */
    --main-font: 'Ubuntu', sans-serif;
    --title-font: 'Secular One', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    color: var(--font-color-main);
}

body {
    background-color: var(--main-bg-color);
    margin: 80px;
    margin-top: 50px;
}

header {
    height: 23vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#main-title,
#second-title {
    font-family: var(--title-font);
    font-size: 52px;
    color: var(--third-color);
    text-align: center;
}

#second-title {
    font-weight: bold;
    font-family: var(--main-font);
    font-size: 32px;
}

input {
    width: var(--numberButton-size);
    height: var(--numberButton-size);
}


.numbersContainer {
    height: 20vh;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}


.inputNumber {
    width: var(--numberButton-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    height: var(--numberButton-size);
    width: calc(var(--numberButton-size)+(--numberInput-FontSize/2));
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.option-input {
    appearance: none;
    height: var(--numberButton-size);
    width: var(--numberButton-size);
    transition: all 0.15s ease-out 0s;
    background: var(--second-bg-color);
    border: solid 1px white;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.13) 1px 1px 4px;
    color: #fff;
    cursor: pointer;
    outline: none;
    box-sizing: content-box;
    z-index: 0;
    margin: auto;
}

.option-input:hover {
    background: var(--second-color);
    box-shadow: none;
}

.option-input:checked {
    background: var(--second-color);
}

span {
    position: absolute;
    font-size: calc(1.2*var(--numberInput-FontSize));
    z-index: 1;
    color: #FFF;
    text-shadow: #585858 1px 1px 1px;
}


.buttonsContainer {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.buttonsContainer button {
    position: relative;
    width: calc(4*var(--numberButton-size));
    padding: 12px 12px;
    margin: 0;
    float: left;
    border-radius: 12px;
    font-size: var(--numberInput-FontSize);
    color: #FFF;
    text-decoration: none;
    background-color: var(--second-color);
    border: none;
    border-bottom: 5px solid var(--third-color);
    text-shadow: 0px -2px var(--third-color);
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.buttonsContainer button:hover,
button:active {
    -webkit-transform: translate(0px, 5px);
    -ms-transform: translate(0px, 5px);
    transform: translate(0px, 5px);
    border-bottom: 1px solid var(--second-color);
}


#totalRespostas {
    font-size: var(--numberInput-FontSize);
    text-align: center;
}

#respostaNPS {
    font-size: calc(1.4*var(--numberInput-FontSize));
    text-align: center;
}

#resetPesquisa {
    width: calc(3*var(--numberButton-size));
    padding: 3px 3px;
    font-size: calc(0.85*var(--numberInput-FontSize));
}


/* PROGRESS BAR */

.progressFlex {
    display: flex;
}

.numProgress {
    color: var(--third-color);
    font-weight: bold;
    margin: auto;
    margin-left: 8px;
    margin-right: 8px;
}

.barContainer,
.barSubContainer {
    height: 20px;
    width: 200px;
    background-color: var(--main-bg-color);
    position: relative;
    border: solid 3px var(--third-color);
    border-radius: 10px;
}

.barSubContainer {
    width: 0px;
    border: none;
    z-index: 0;
}

.barSubContainer .progress-bar {
    position: absolute;
    height: 100%;
    background-color: var(--third-color);
    border-radius: 7px;
    /* z-index: 99; */
}

#play-animation {
    animation: progress-bar-animation 3s forwards;
}

@keyframes progress-bar-animation {
    0% {
        width: 0%;
        background-color: var(--third-color);
    }

    100% {
        width: 100%;
        background-color: var(--second-color);
    }
}


/* MEDIA QUERY */

@media (max-width: 880px) {
    body {
        margin: 32px;
    }

    header {
        height: 36vh;
    }

    .numbersContainer {
        margin: 50px 0px;
        height: 70vh;
        flex-direction: column;
        align-items: center;
    }

    .option-input {
        height: calc(0.6*var(--numberButton-size));
        width: calc(4*var(--numberButton-size));
        border-radius: 8px;
    }

    .inputNumber {
        height: calc(0.6*var(--numberButton-size));
        width: calc(4*var(--numberButton-size));
    }

    .buttonsContainer {
        height: 80vh;
    }

}

@media (max-width: 380px) {

    body {
        margin: 16px;
    }

    header {
        height: 48vh;
    }

    .buttonsContainer {
        height: 100vh;
    }
}